$font-family-sans-serif: 'Raleway', sans-serif;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700; 
$headings-font-weight: 700;
$font-size-base: 1rem;
$gray-50: #fefefe;
$light-blue: #E8F0FE;
$shadow-md: 0 .125rem .25rem rgba(0,0,0,.075);