{{!
    @template core/course_header_image
    Example context (json):
    {
        "courseimage": "http://domain.name/pluginfile.php/123/course/overviewfiles/kitten.jpg"
    }
}}
<div class="course-header-image" style='background-image: url("{{{courseimage}}}");'>
</div>