<div class="full-header">
    {{#contextheader}}                    
        {{{contextheader}}}                    
    {{/contextheader}}

    {{#settingsmenu}}
        {{{settingsmenu}}}
    {{/settingsmenu}}

    {{#headeractions}}
        {{{.}}}
    {{/headeractions}}
    
    {{#hasnavbar}}
        {{{navbar}}}
    {{/hasnavbar}}
    
    {{{pageheadingbutton}}}
    
    {{{courseheader}}}
</div>
